{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-2 text-center">
		<h1 class="uppercase font-bold tracking-wider text-lg">Welcome Symfony 7 !</h1>
		<p>Ici on mettra un formulaire</p>
	</div>
{% endblock %}
